<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.trif.mitfg_v1">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PescApp"
        tools:targetApi="31">

        <!-- Actividades principales nuevas -->
        <activity android:name=".DocumentationActivity" />
        <activity android:name=".FishingTypesActivity" />
        <activity android:name=".FishingTypeDetailActivity" />
        <activity android:name=".KnotsActivity" />
        <activity android:name=".KnotTutorialActivity" />
        <activity android:name=".LuresActivity" />
        <activity android:name=".LureDetailActivity" />

        <!-- Actividades de términos y navegación -->
        <activity android:name=".TermsActivity" />
        <activity android:name=".MainActivity" />

        <!-- Actividades existentes -->
        <activity android:name=".PrimeraActivity" />
        <activity android:name=".SegundaActivity" />

        <!-- SPLASH ACTIVITY - ACTIVIDAD DE INICIO -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="android.app.default_touchsound"
            android:value="false" />

    </application>

</manifest>